<!-- <p>movie-card works!</p> -->
<div class="container">
  <h1 class="app-title">myFlix</h1>

  <div style="display: flex">
    <mat-card
      *ngFor="let movie of movies; let i = index"
      style="flex: 1 1 auto; background-color: #000000; margin: 2px"
    >
      <mat-dialog-content>
        <mat-card-title style="color: #ffffff">{{
          movie.Title
        }}</mat-card-title>
        <mat-card-subtitle><img src="{{ movie.Image }}" /> </mat-card-subtitle>
      </mat-dialog-content>
      <mat-card-actions>
        <button mat-button color="primary" (click)="openGenreDialog()">
          Genre
        </button>
        <button mat-button color="primary" (click)="openDirectorDialog()">
          Director
        </button>

        <mat-icon
          style="color: #008000; cursor: pointer"
          (click)="addFavorite()"
          >favorite_border</mat-icon
        >
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="favorite-section">
    <h1>Farvorite Movies:</h1>
    <br />
    <div *ngFor="let movie of movies; let i = index">
      <p>temporary note: favorite movies go here</p>
      <div *ngIf="FavoriteMovies.includes(movie._id)"></div>
    </div>
  </div>

  <div class="options">
    <button mat-button color="primary" (click)="openProfilePageDialog()">
      <h3>Profile</h3>
    </button>
    <br />
    <button mat-button color="primary" (click)="logoutUser()">Logout</button>
  </div>
</div>
