<h1>{{ user.Username }}</h1>
<h3>{{ user.Email }}</h3>
<form>
  <mat-form-field>
    <input matInput type="text" placeholder="Username" name="Username" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input matInput type="password" placeholder="Password" name="Password" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <input
      matInput
      type="email"
      [(ngModel)]="userData.Email"
      placeholder="Email"
      name="email"
    />
  </mat-form-field>
  <mat-card-actions>
    <button (click)="updateUser()">Update</button>
  </mat-card-actions>
</form>
